/*! CSS adapted from  type theme */
html {
    font-family: serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #fff;
}

.post-content h1, .excerpt h1 {
  display:none;
}

img {
  max-width: 100%;
  /* margin: 30px; */
}

h1.title {
  font-family: Helvetica, sans-serif;
  font-size:2.5em;
  color:rgb(0, 0, 0);
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
    display: block;
}

body {
    font-family: Georgia, serif;
    margin: 30px;
    font-size: 1.10em;
    margin:20px auto;
    max-width: 800px;
    width: 70%;
    /* border:1px solid red; */
}

body.recipeshome {
  width:70%;
  margin:20px auto;
  max-width:850px;
}

h2,h3 {
  font-family: Helvetica, sans-serif;
  color:black;
  font-size: 22px;
}

h4 {
  font-family: Helvetica, sans-serif;
}

.content {
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
  /* max-width: 800px; */
}

h1.site-title {
font-family: Helvetica, sans-serif;
font-size: 1.25em;
}



@media screen and (max-width: 650px) {

  ul.recipes {
    display: none;
  }

  .content {
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
  }
}

img.cover {
float:right;
width:30%;
margin:12px;
}


blockquote {

}


table {

}

td, th {

}


p, ol, ul {
    line-height: 1.5;
    margin-bottom: 1em;
    padding-bottom: 10px;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #fff;
    margin: 1em 0;
}

a {
  color:black;
    text-decoration: none
}

/* for a menu for all recipes */
ul.recipes {
  border: 1px solid gray;
  width: 12%;
  float:right;
  position: fixed;
  font-size: 50%;
  top:10px;
  right:10px;
  padding:4px;
  font-family: Georgia, serif;
  list-style: none;
  background-color: white;
}

ul.recipes li {
  margin-left: 0;
  text-indent: 0;
  list-style: none;
  padding-left: 0;
  color:rgb(208, 82, 7);
}

body.recipelist a {
  color:black;
  font-family: Helvetica, sans-serif;
  list-style: none;
}

h1.title.recipelist a{
  color:black;
  font-family: Helvetica, sans-serif;
  font-size:1.5em;
  text-decoration: underline;
}


h1.site-title a {
color:rgb(208, 82, 7);
}

.post-teaser h1 {
  border-bottom: 1px solid black;
}

#post-nav a {
color:rgb(208, 82, 7);
}

table {
  display: block;
  color: black;
  background-color:rgb(228, 228, 228);
  width: 50%;
  padding-bottom:4px;
  padding-top:2px;
}

td {
  padding:4px 12px;
}
